<%- include('partials/header.ejs') %>
        <main class="home">
                <h1>Welcome to the Solar System Site!</h1>
                <p>This site contains information about each of the planets in our solar system, except for Jupiter, Saturn, Neptune, and Uranus.</p>
                <p>If you would like to learn more about one of the other planets, please click on any of the nav links above for more information.</p>
                <p>Thank you for visiting our site!</p>
        </main>
<%- include('partials/footer.ejs') %>