<%- include('partials/header.ejs') %>
        <h1>Mercury</h1>
        <img src="/img/mercury.jpg" alt="A photo of the planet Mercury" class="img-thumbnail"/>
        <p>Mercury is the closest planet to the sun. It is also the smallest planet, and it does not have any rings or moons. A day on Mercury lasts around 1/2 year on Earth, but a year is only 88 days. This means a day on Mercury is longer than a year. Mercury has the largest variation in temperature among the planets in our solar system.</p>
<%- include('partials/footer.ejs') %>