<%- include('partials/header.ejs') %>
        <h1>Venus</h1>
        <img src="/img/venus.jpg" alt="A photo of the planet Venus" class="img-thumbnail" />
        <p>Venus is the second planet from the sun. It was named after the Roman goddess of love, and it is the only planet in our solar system which is named after a female. Even though Venus is not the closest planet to the sun, it is the hottest in terms of average surface temperature. Another interesting fact about Venus is that it spins clockwise, unlike the other planets in our solar system.</p>
<%- include('partials/footer.ejs') %>
