body {
    background-color: #222;
    text-align: center;
    color: #efefef;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    color: #efefef;
}

a:hover {
    color: #ccc;
}

img {
    width: 200px;
    height: 200px;
    margin: 3rem auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

footer > div.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.home {
    background-image: url("../img/solar-system.jpg");
    background-size: cover;
    height: 100vh;
}

p {
    width: 60%;
    margin: 0 auto;
}